:root{
    --my-bg-hero:rgb(26, 188, 156);
    --my-bg-topfooter:rgb(58, 84, 109);
    --my-bg-botfooter:rgb(44, 62, 80);
}

body{
    font-family: 'Open Sans', sans-serif;
}

.my-bg-verdeacqua{
    background-color:var(--my-bg-hero) ;
}

.my-text-verdeacqua{
    color:var(--my-bg-hero) ;
}

.my-bg-topfooter{
    background-color: var(--my-bg-topfooter);
}

.my-bg-botfooter{
    background-color: var(--my-bg-botfooter);
}

.my-fs-0{
    font-size: 3em;
}

.high-line{
    height: 3px;
}
.my-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: inherit;
    height: 88%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-img:hover .my-overlay {
    opacity: 1;
}

.my-plus {
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    font-size: 3em;
    color: var(--color-white);
    

}

img{
    display: block;
}

.my-plus:hover {
    opacity: 1;
    cursor: pointer;
}

.card-img{
    transition: 1s;
}

.card-img:hover{
    transform: scale(1.1);
}
.my-message{
    padding-bottom: 100px;
}
.my-border-placeholder{
    border-left: 0;
    border-right: 0;
    border-top: 0;

}

.debug{
    border: 2px solid blue;
}